<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You, <%= @user.user_name %></h1>
    <p>
      Your appontment has successfully been created
    </p>

    <p>We appreciate your business!</p>
  </body>
</html>
